@import "../../../style/style.scss";

.header {
  @include position(fixed, 0, 0, 0);
  @include paddingX(1rem);
  height: 5rem;
  background: $color-white;
  z-index: 100;
  -webkit-box-shadow: 0px 7px 20px -1px rgba(0,0,0,0.45); 
  box-shadow: 0px 7px 20px -1px rgba(0,0,0,0.45);

  @include tablet {
    @include paddingX(3rem);
  }

  &-container {
    height: 100%;
  }

  &-logo {
    img {
      height: 3.2rem;
    }
  }

  &-menu,
  &-login {
    display: flex !important;

    @include tablet {
      display: none !important;
    }
  }

  &-menu {
    justify-content: space-around;

    a {
      @include textStyle(0.9rem, $color-black, 400, none);

      &:hover {
        color: $color-red;
      }
    }
  }

  &-login {
    justify-content: flex-end;

    a {
      @include textStyle(0.9rem, $dark-gray, 400, none);

      &:hover {
        color: $dark-gray;
      }
    }
  }

  &-toggle {
    display: none !important;

    @include tablet {
      display: flex !important;
      justify-content: flex-end;
    }
  }


}
