$color-red: #fd0808;
$dark-gray: #6c757d;
$color-black: black;
$color-green: #108f3e;
$color-white: #fff;
$mobile-width: 576px;
$tablet-width: 768px;
$desktop-width: 1024px;





//spacing
$sp-em: 1em;
$sp-rem: 1rem;
$sp-5: 5px;
$sp-half: 7.5px;
$sp-10: 10px;
$sp-15: 15px;
$sp-20: 20px;
$sp-25: 25px;
$sp-35: 35px;
$sp-60: 60px;
$sp-120: 120px;

//border-radius
$border-radius: 5px;

//font-size
$fs-12: 12px;
$fs-14: 14px; //default
$fs-16: 16px;
$fs-18: 18px;
$fs-20: 20px;
$fs-24: 24px;
$fs-32: 32px;

$color-login: linear-gradient(
  180deg,
  rgba(20, 50, 93, 0.9),
  rgba(8, 22, 48, 0.9)
);
$color-button: #1aafcd;





//ghế
$color-ghe-thuong: #3e515d;
$color-ghe-vip: #F9B208;
$color-ghe-dang-chon: #54E346;
$color-ghe-toi-da-dat: rgb(73, 210, 231);
$color-ghe-da-dat: #CFD3CE;