
.film_section {
    .edit_button {
        border: 2px solid blue;
        padding: 5px ;
        border-radius:5px;
        color: blue;
    }

    .delete_button {
        background-color: transparent !important;
        border: 2px solid red;
        padding: 4px ;
        border-radius:5px;
        color: red;
        outline: none !important;
    }

    .showtime_button {
        border: 2px solid green;
        padding: 5px ;
        border-radius:5px;
        color: green;
    }

}

